.card{
    margin:20px;
    border-radius: 10px ;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    cursor: pointer;
}

/* .card:hover{
    background-color: skyblue;
} */
.card{
    max-width:350px;
    max-height:400px;
}
.card > a > img{
    width: 400px;
    height: 200px;
    transition: transform 200ms;
}

.card > a > img:hover{
    transform: scale(1.5);
}


.card__info{
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
}

.card__info > h2{
    font-size: 18px;
    font-weight: 600;
}

.card__info > h4{
    font-size: 14px;
    font-weight: 450;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card__info > button{
    background-color: blue;
    color: white;
}

.card__info > button:hover{
    background-color: black;
    color: white;
}

